.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  gap: 2em;
  margin-top: 4em;

  .categories-container-header {
    font-size: $font-size-lg;
    color: $white-text-color;
  }

  @media (min-width: $md) {
    .categories-container-header {
      font-size: $font-size-xl;
    }
  }

  > .cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    .category-card {
      position: relative;
      width: 100%;
      text-align: center;
      transition:
        transform 0.3s,
        box-shadow 0.3s;
      box-shadow: $primary-box-shadow;
      border: 1px solid $secondary-gray-color;
      text-decoration: none;
      aspect-ratio: 1/1;
      overflow: hidden;

      &-description {
        padding: 1em;
      }

      &-image {
        width: 100%;
        border-radius: 0.5em;
      }

      .cta {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        padding: 0.75em;
        gap: 0.25em;
        background: black;
        border: 1px solid $secondary-gray-color;
        backdrop-filter: blur(5px);
        overflow: hidden;
        transition: transform 0.3s;
        transform: translateY(45%);

        &-title {
          font-size: 2em;
          margin: 0;
          color: $white-text-color;
          font-family: $font-inter-sans-serif;
        }

        &-description {
          transition: opacity 0.3s 0.1s;
          margin-bottom: 0.25em;
          margin-top: 0.5em;
          color: $white-text-color;
          font-size: 0.9em;
          font-family: $font-nunito-sans-serif;
        }

        &-button {
          width: 100%;
          font-family: $font-nunito-sans-serif;
        }

        @media (min-width: $lg) {
          &-description {
            font-size: 1em;
          }

          &-button {
            font-size: 1.5em;
          }
        }
      }

      &:hover {
        box-shadow: $hover-box-shadow;

        .cta {
          transform: translateY(0) !important;

          &-description {
            opacity: 1;
          }
        }
      }

      &:not(:hover) {
        .cta {
          &-description {
            transition: opacity 0.15s;
            opacity: 0;
          }
        }
      }
    }

    @media (min-width: $md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
