@use 'sass:color';

.nuc-submit-button {
  font-size: $font-size-sm;
  letter-spacing: 0.025em;
  margin-top: .5rem;
  transition: all 0.3s ease;
  gap: .5rem;

  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }

  &:hover:not(:disabled) {
    transform: translateY(-2px);
  }

  &-primary {
    background: $primary-color;
    box-shadow: 0 4px 24px rgba($primary-color, 0.4);

    &:hover:not(:disabled) {
      background: color.adjust($primary-color, $lightness: 10%);
      border-color: color.adjust($primary-color, $lightness: 10%);
      box-shadow: 0 8px 32px rgba($primary-color, 0.5);
    }
  }

  &-secondary {
    background: rgba($primary-color, 0.1);
    border: 1px solid rgba($primary-color, 0.3);
    color: $primary-color;
    box-shadow: none;

    &:hover:not(:disabled) {
      background: rgba($primary-color, 0.15);
      border-color: rgba($primary-color, 0.5);
      box-shadow: none;
    }
  }

  @media (min-width: $md) {
    font-size: 1rem;
  }
}

html:not(.p-dark) .nuc-submit-button {
  background: color.adjust($primary-color, $lightness: -10%);
  border-color: color.adjust($primary-color, $lightness: -10%);

  &:hover:not(:disabled) {
    background: color.adjust($primary-color, $lightness: 0%);
    border-color: color.adjust($primary-color, $lightness: 0%);
  }
}