.nuc-submit-button {
  font-size: 1rem;
  letter-spacing: 0.025em;
  margin-top: 0.5rem;
  color: #000;
  box-shadow: 0 4px 24px rgba($primary-color, 0.4);
  transition: all 0.3s ease;

  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }

  &:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 8px 32px rgba($primary-color, 0.5);
  }
}

