.boxes-container {
  padding: 0 0.75em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .card-box {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $primary-border-color;

    &-heading {
      display: flex;
      gap: 0.5em;

      img {
        width: 35px;
        height: 35px;
      }

      &-text {
        color: $primary-white-text-color;
        font-weight: 600;
        font-size: $font-size-md;
        padding: 0;
        margin: 0;
      }
    }

    &-description {
      color: $primary-white-green-text-color;
    }

    .p-card-body {
      height: 100%;
    }

    @media (min-width: 768px) {
      .card-box {
        padding: 0.5em;
      }
    }
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3em;
  }
}
